REGISTRATION_ENABLED=false

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=movim_api_laravel
DB_USERNAME=movim_api
DB_PASSWORD=movim_api
XMPP_REGISTRATION=true
EJABBERD_PATH=/opt/ejabberd-19.09.1/bin/ejabberdctl
RESTRICTED_COUNTRIES=ID,MY,PH,IN
XMPP_ADMIN_NOTIFY=

IMAPTOXMPP_SERVER=
IMAPTOXMPP_PORT=
IMAPTOXMPP_USERNAME=
IMAPTOXMPP_PASSWORD=
IMAPTOXMPP_XMPP_FROM=
IMAPTOXMPP_XMPP_DOMAIN=
IMAPTOXMPP_EJABBERD_API=

APP_KEY=base64:veDWsbBnIYg03IsKmvrE90UAypgf13GnNHDBc0Tto3I=
APP_DEBUG=false

HCAPTCHA_SECRET=secret-key
HCAPTCHA_SITEKEY=site-key
