main {
    background-color: #EEE;
}

main::before {
    content: "";
    background-image: url(../img/network.svg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
}

main section {
    width: 100%;
    max-width: 460px;
    z-index: 1;
}

.container {
    padding: 1.5rem 2rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

header {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 1rem 1rem;
    }

    header {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.top_padding {
    padding-top: 7rem;
}

#registration_form {
    position: relative;
}

#registration_form .domain {
    position: absolute;
    right: 0;
    width: 17rem;
}

#registration_form .at {
    position: absolute;
    right: 17.5rem;
    top: 4.25rem;
}

#registration_form .username {
    width: calc(100% - 20rem);
}

#registration_form .username input {
    text-align: right;
}

#registration_form .email_info {
    min-height: 7rem;
}