body {
    background-color: rgb(var(--movim-background));
    overflow-y: scroll;
    height: auto;
}

body::before {
    background-image: url('https://movim.eu/img/network.svg'), radial-gradient(circle farthest-corner at right bottom, rgb(255, 87, 34) 0, rgb(65, 63, 181) 90%), url('https://movim.eu/img/network.svg');
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

article section {
    padding: 0;
}

header section {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header section #app_title {
    font-weight: 300;
    font-size: 4rem;
    padding-left: 2rem;
}

header section a:link,
header section a:visited {
    color: white;
}

section.large {
    background-color: rgb(var(--movim-background-main));
    box-shadow: var(--elevation-2);

    margin: 0 auto;
    display: block;
    max-width: 1024px;

    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    min-height: 100vh;
}

footer {
    margin-top: 3rem;
}

footer hr {
    margin-bottom: 2rem;
}

section .container {
    max-width: 640px;
    margin: 0 auto;
}

header {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 1rem 1rem;
    }

    header {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.top_padding {
    padding-top: 7rem;
}

#registration_form {
    position: relative;
}

#registration_form .domain {
    position: absolute;
    right: 0;
    width: 17rem;
}

#registration_form .at {
    position: absolute;
    right: 17.5rem;
    top: 4.25rem;
}

#registration_form .username {
    width: calc(100% - 20rem);
}

#registration_form .username input {
    text-align: right;
}

#registration_form .email_info {
    min-height: 7rem;
}

ul.list.servers li:not(.subheader) {
    flex-direction: column;
    align-items: baseline;
}

ul.list.servers li:not(.subheader) > div {
    width: 100%;
    flex: 0;
}

ul.list.servers li:not(.subheader) a.chip {
    float: right;
    margin-top: -7rem;
    position: relative;
}

ul#servers li > img {
    min-height: 20rem;
    max-height: 20rem;
    object-fit: cover;
    transform: translateX(-2rem);
    max-width: calc(100% + 4rem);
    width: calc(100% + 4rem);
    background-color: #DDD;
    padding: 0;
    margin-top: -1px;
}